<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.what3words.components">

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false">
        <activity
            android:name=".permissions.PermissionsActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:theme="@style/AppTheme.Transparent" />
    </application>
</manifest>